<!DOCTYPE html>
@import StarterPack.Core;
<html>
    <head>
        <title>Confirmação de Registro</title>
        <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div style="width: 100%; text-align:center; background-color:#fff; padding: 10px;">
            <hr>
            <div style="font-size: 20px;font-weight: bold;">
                <h2 style="text-transform: uppercase;">Prezado @ViewData["name"], </h2>
                <p>Você foi cadastrado com êxito no sistema @ViewData["appName"].</p>
                <p>Segue seus dados de acesso abaixo:</p>
            </div>
            <hr>
            <table style="border: none">
                <tr>
                    <td><b>Login:</b></td>
                    <td>@ViewData["email"]</td>
                </tr>
                <tr>
                    <td><b>Senha:</b></td>
                    <td>@ViewData["plainPassword"]</td>
                </tr>
                <tr>
                    <td><a href="{{$url}}">Clique aqui para acessar o sistema</a></td>
                </tr>
            </table>
        </div>
    </body>
</html>
