<!DOCTYPE html>
<html>
    <head>
        <title>Confirmação de Registro</title>
        <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div style="width: 100%; text-align:center; background-color:#fff; padding: 10px;">
            <hr>
            <div style="font-size: 20px;font-weight: bold;">
                <h2 style="text-transform: uppercase;">Prezado</h2>
                <p>Email enviado pelo sistema @ViewData["appName"].</p>
            </div>
            <hr>
            <p>@ViewData["message"]</p>
        </div>
    </body>
</html>
