<box box-title="{{::'form.titleRegister' | translate}}">
  <box-toolbar-buttons>
    <md-button class="md-icon-button" ng-click="<%= alias_controller %>.goTo('list')">
      <md-icon md-font-set="material-icons" class="md-warn">view_list</md-icon>
      <md-tooltip md-direction="bottom">{{ ::'list' | translate}}</md-tooltip>
    </md-button>
  </box-toolbar-buttons>
  <form>
    <md-input-container class="md-block" flex>
      <input type="text" placeholder="Nome" ng-model="<%= alias_controller %>.resource.name">
    </md-input-container>
  </form>
  <box-footer-buttons>
    <md-button class="md-primary md-raised" ng-click="<%= alias_controller %>.save()">{{::'form.save' | translate}}</md-button>
    <md-button class="md-raised" ng-click="<%= alias_controller %>.cleanForm()">{{::'form.clear' | translate}}</md-button>
  </box-footer-buttons>
</box>
