<box box-title="Formulário de Cadastro">
  <box-toolbar-buttons>
    <md-button class="md-icon-button" ng-click="projectsCtrl.goTo('list')">
      <md-icon md-font-set="material-icons" class="md-warn">view_list</md-icon>
      <md-tooltip md-direction="bottom">Lista</md-tooltip>
    </md-button>
  </box-toolbar-buttons>
  <form>
    <md-input-container class="md-block" flex>
      <input type="text" placeholder="Nome" ng-model="projectsCtrl.resource.name">
    </md-input-container>
    <md-input-container class="md-block" flex>
      <input  type="number"
              placeholder="Custo"
              step="0.10"
              min="0.10"
              ng-model="projectsCtrl.resource.cost">
    </md-input-container>
  </form>
  <box-footer-buttons>
    <md-button class="md-primary md-raised" ng-click="projectsCtrl.save()">Salvar</md-button>
    <md-button class="md-raised" ng-click="projectsCtrl.cleanForm()">Limpar</md-button>
  </box-footer-buttons>

</box>

