<content-body>
  <div flex="100">
    <box box-title="Pesquisa">
      <md-content layout-padding md-whiteframe="1" class="bottom-4">
        <form class="condensed">
          <div layout="row">
            <md-input-container flex>
              <input type="date" placeholder="Data Inicial" ng-model="auditCtrl.queryFilters.dateStart">
            </md-input-container>
            <md-input-container flex>
              <input type="date" placeholder="Data Final" ng-model="auditCtrl.queryFilters.dateEnd">
            </md-input-container>
            <md-input-container flex>
              <md-select placeholder="Recurso" ng-model="auditCtrl.queryFilters.model">
                <md-option ng-repeat="model in auditCtrl.models" value="{{model.id}}">
                  {{model.label}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>
          <div layout="row">
            <md-input-container flex>
              <md-radio-group ng-model="auditCtrl.queryFilters.type" layout="row">
                <md-radio-button value="{{type.id}}" ng-repeat="type in auditCtrl.types">{{type.label}}</md-radio-button>
              </md-radio-group>
            </md-input-container>
            <md-button class="md-raised md-primary md-mini" ng-click="auditCtrl.search(vm.paginator.currentPage)">Filtar</md-button>
          </div>
        </form>
      </md-content>

      <md-table-container md-whiteframe="1">
        <table md-table>
          <thead md-head>
            <tr md-row>
              <th md-column>Usuário</th>
              <th md-column>Recurso</th>
              <th md-column>Ação</th>
              <th md-column>Data</th>
              <th md-column>Ações</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row ng-repeat="log in auditCtrl.resources">
              <td md-cell>{{log.user.name}}</td>
              <td md-cell>{{log.owner_type}}</td>
              <td md-cell>{{log.type}}</td>
              <td md-cell>{{log.updated_at | date : "shortDate"}}</td>
              <td md-cell>
                <md-button class="md-icon-button" ng-click="auditCtrl.edit(log)">
                  <md-icon md-font-set="material-icons"
                    class="md-dark">search</md-icon>
                  <md-tooltip md-direction="bottom">Visualizar</md-tooltip>
                </md-button>
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>

      <box-footer-buttons>
        <pr-pagination paginator="auditCtrl.paginator"></pr-pagination>
      </box-footer-buttons>
    </box>
  </div>
</content-body>
