<md-dialog aria-label="Logs" flex="60" class="md-dialog-transparent">
  <content-body>
    <div flex="50" ng-if="auditDetailCtrl.auditDetail.old_value">
      <box box-title="{{ ::auditDetailCtrl.auditDetail | auditDetailTitle:'before' }}">
        <ul>
          <li ng-repeat="(key, value) in auditDetailCtrl.auditDetail.old_value">{{ ::key | tAttr}}: {{ ::value | auditValue:key}}</li>
        </ul>
        <box-footer-buttons>
          <md-button class="md-raised md-warn" ng-click="auditDetailCtrl.closeDialog()">{{::'view.actions.getOut' | translate}}</md-button>
        </box-footer-buttons>
      </box>
    </div>
    <div flex="50" ng-if="auditDetailCtrl.auditDetail.new_value">
      <box box-title="{{ ::auditDetailCtrl.auditDetail | auditDetailTitle:'after' }}">
        <ul>
          <li ng-repeat="(key, value) in auditDetailCtrl.auditDetail.new_value">{{ ::key | tAttr}}: {{ ::value | auditValue:key}}</li>
        </ul>
        <box-footer-buttons>
          <md-button class="md-raised md-warn" ng-click="auditDetailCtrl.closeDialog()">{{::'view.actions.getOut' | translate}}</md-button>
        </box-footer-buttons>
      </box>
    </div>
  </content-body>
</md-dialog>
