@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  background-color: #ecf0f5;
}

#toast-container > div {
  opacity: 1;
}

.form-group.required .control-label:after {
  content:" *";
  color:red;
}