<div class="nav-header" style="color: #fff; padding: 0px !important; max-height: 65px;"
  layout="row" layout-padding
  layout-align="space-between center">
  <div>
    <md-menu ng-repeat="item in menuCtrl.itensMenu" ng-if="auth.authenticated()">
        <md-button
          md-menu-origin
          ui-sref="{{item.url}}"
          ng-click="menuCtrl.openMenu($mdOpenMenu, $event, item.subItens.length)"
          style="font-weight: bold; font-size: 12px;">
          <md-icon md-font-set="material-icons"
            class="pull-left menu-icon" style="color:#fff; margin-right: 10px;">
            {{item.icon}}
          </md-icon>
          {{item.titulo}}
        </md-button>
        <md-menu-content width="5">
            <md-menu-item ng-repeat="subItem in item.subItens">
                <md-button ui-sref="{{subItem.url}}">
                  <md-icon md-font-set="material-icons" class="pull-left">
                    {{subItem.icon}}
                  </md-icon>
                  {{subItem.titulo}}
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
  </div>
</div>
