<box box-title="{{::'task.title' | translate}}">
  <box-toolbar-buttons>
    <md-button class="md-icon-button" ng-click="tasksCtrl.goTo('form')">
      <md-icon md-font-set="material-icons" class="md-warn">add</md-icon>
      <md-tooltip md-direction="bottom">{{::'add' | translate}}</md-tooltip>
    </md-button>
  </box-toolbar-buttons>
  <md-content layout-padding md-whiteframe="1" class="bottom-4">
    <form class="condensed">
      <div layout="row">
        <pr-date-time-picker
            ng-model="tasksCtrl.queryFilters.dateStart"
            placeholder-date="Data Inicial"
            placeholder-time="Horário Inicial"
            open-on-click="true"
            with-time="true">
        </pr-date-time-picker>
      </div>
      <div layout="row">
        <pr-date-time-picker
            ng-model="tasksCtrl.queryFilters.dateEnd"
            placeholder-date="Data Final"
            placeholder-time="Horário Final"
            open-on-click="true"
            with-time="true">
        </pr-date-time-picker>
      </div>
      <div layout="row">
        <div flex></div>
        <md-button class="md-raised md-primary md-mini" ng-click="tasksCtrl.search(vm.paginator.currentPage)">
          {{::'form.filter' | translate}}
        </md-button>
      </div>
    </form>
  </md-content>

  <md-table-container>
    <table md-table class="condensed">
      <thead md-head>
        <tr md-row>
          <th md-column><span>Descrição</span></th>
          <th md-column>Agendado para</th>
          <th md-column md-numeric><span>Prioridade</span></th>
          <th md-column class="md-text-center">Não Feito / Feito</th>
          <th md-column class="md-text-center">Ações</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="task in tasksCtrl.resources" ng-if="tasksCtrl.resources.length > 0">
          <td md-cell>{{ ::task.description}}</td>
          <td md-cell>{{ ::task.scheduled_to | prDatetime}}</td>
          <td md-cell>{{ ::task.priority}}</td>
          <td md-cell class="md-text-center">
            <md-switch aria-label="Não Feito/Feito" ng-model="task.done" ng-change="tasksCtrl.toggleDone(task)">
            </md-switch>
          </td>
          <td md-cell>
            <md-button class="md-icon-button" ng-click="tasksCtrl.edit(task)">
              <md-icon md-font-set="material-icons" class="md-dark">create</md-icon>
              <md-tooltip md-direction="top">{{::'form.edit' | translate}}</md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-click="tasksCtrl.remove(task)">
              <md-icon md-font-set="material-icons" class="md-warn">delete</md-icon>
              <md-tooltip md-direction="top">{{::'form.remove' | translate}}</md-tooltip>
            </md-button>
          </td>
        </tr>
        <tr md-row ng-if="tasksCtrl.resources.length == 0">
          <td md-cell colspan="5">
            <div layout="row" layout-align="center center">{{::'notFound' | translate}}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>

  <box-footer-buttons>
    <div layout="row">
      <div flex layout="row" layout-align="center center">
        <pr-pagination paginator="tasksCtrl.paginator"></pr-pagination>
      </div>
      <div>
        <md-button class="md-warn" ng-click="tasksCtrl.closeModal()">{{::'form.getOut' | translate}}</md-button>
      </div>
    </div>
  </box-footer-buttons>

</box>
