<box box-title="{{::'form.titleRegister' | translate}}">
  <box-toolbar-buttons>
    <md-button class="md-icon-button" ng-click="tasksCtrl.goTo('list')">
      <md-icon md-font-set="material-icons" class="md-warn">view_list</md-icon>
      <md-tooltip md-direction="bottom">{{ ::'list' | translate }}</md-tooltip>
    </md-button>
  </box-toolbar-buttons>
  <form>
    <md-input-container class="md-block">
      <label>{{::'task.description' | translate}}</label>
      <input type="text" ng-model="tasksCtrl.resource.description">
    </md-input-container>
    <div layout="row">
      <md-input-container class="md-block" flex="30">
        <label>{{::'task.priority' | translate}}</label>
        <input type="number" step="1" min="1" max="10" ng-model="tasksCtrl.resource.priority">
      </md-input-container>

      <div layout="row">
        <pr-date-time-picker
            ng-model="tasksCtrl.resource.scheduled_to"
            placeholder-date="Data"
            placeholder-time="Horário"
            open-on-click="true"
            with-time="true">
        </pr-date-time-picker>
      </div>      
    </div>
    <div layout="row">

    </div>
  </form>
  <box-footer-buttons>
    <md-button class="md-warn" ng-click="tasksCtrl.closeModal()">{{::'form.getOut' | translate}}</md-button>
    <md-button class="md-raised" ng-click="tasksCtrl.cleanForm()">{{::'form.clear' | translate}}</md-button>
    <md-button class="md-primary md-raised" ng-click="tasksCtrl.save()">{{::'form.save' | translate}}</md-button>
  </box-footer-buttons>

</box>
