<md-dialog flex=50 aria-label="{{::ctrl.title}}" class="md-dialog-transparent">
  <content-body>
    <box box-title="{{::ctrl.title}}">
      <div>
        <p>{{::ctrl.description}}</p>
      </div>
      <box-footer-buttons>
        <md-button class="md-raised" md-colors="::{background:'default-{{ctrl.yesBgColor}}'}" ng-click="ctrl.yesAction()">Sim</md-button>
        <md-button class="md-raised" md-colors="::{background:'default-{{ctrl.noBgColor}}'}" ng-click="ctrl.noAction()">Não</md-button>
      </box-footer-buttons>
    </box>
  </content-body>
</md-dialog>
