<content-body>
  <div layout="row">
    <box title="Login" width="30%">
      <form>
        <md-input-container class="md-block" flex>
          <md-icon md-font-set="material-icons" style="color:#3F51B5;">email</md-icon>
          <input type="email" placeholder="Email" ng-model="loginCtrl.credentials.email">
        </md-input-container>
        <md-input-container class="md-block" flex>
          <md-icon md-font-set="material-icons" style="color:#3F51B5;">lock</md-icon>
          <input type="password" placeholder="Senha" ng-model="loginCtrl.credentials.password">
        </md-input-container>
        <md-button class="md-raised md-primary md-block" ng-click="loginCtrl.login()">Entrar</md-button>
      </form>
    </box>
  </div>
</content-body>
