<content-body layout-align="center center">
    <box box-title="{{ ::global.appName}}" flex=60>
      <div layout="row" layout-sm="column" flex>
        <div flex=30 flex-sm=99 flex-gt-sm=99 layout-align="center center">
          <img src="client/images/governo-do-estado-da-bahia.png" alt="logo" />
        </div>
        <form flex>
          <div layout="row" flex layout-align="center center">
            <md-input-container flex class="bottom-5">
              <md-icon md-font-set="material-icons">email</md-icon>
              <label>{{::'login.email' | translate}}</label>
              <input type="email" ng-model="loginCtrl.credentials.email">
            </md-input-container>
          </div>
          <div layout="row" flex layout-align="center center">
            <md-input-container flex class="top-1">
              <md-icon md-font-set="material-icons">lock</md-icon>
              <label>{{::'login.password' | translate}}</label>
              <input type="password" flex=99 ng-model="loginCtrl.credentials.password">
            </md-input-container>
          </div>
          <div layout="row" flex layout-align="center center">
            <md-button class="md-raised md-primary" flex ng-click="loginCtrl.login()">
              {{::'login.in' | translate}}
            </md-button>
          </div>
        </form>
      </div>
    </box>
</content-body>
