<!-- Main Header -->
<header class="main-header">
  <nav class="navbar navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" ng-click="isCollapsed = !isCollapsed" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>        
        <a href="" ui-sref="home" class="navbar-brand"><b>Base</b>LTE</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse" ng-if="auth.authenticated()" uib-collapse="!isCollapsed">
        <ul class="nav navbar-nav" ng-if="auth.isAdmin()">
          <li uib-dropdown>
            <a href="#" uib-dropdown-toggle>Administração <span class="caret"></span></a>
            <ul uib-dropdown-menu role="menu">
              <li><a href="#" ui-sref="usuarios">Usuários</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" ui-sref="profile">Profile</a></li>
          <li><a href ng-click="globalCtrl.logout()">Sair</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</header>
