<content-body layout-align="center center">
  <div flex=100 flex-sm=80 flex-gt-sm=60>
    <box box-title="Formulário de Atualização">
      <form>
        <md-input-container class="md-block" flex>
          <input type="text" placeholder="Nome" ng-model="profileCtrl.user.name">
        </md-input-container>
        <md-input-container class="md-block" flex>
          <input type="email" placeholder="Email" ng-model="profileCtrl.user.email">
        </md-input-container>
        <md-input-container class="md-block" flex>
          <input type="password" placeholder="Senha" ng-model="profileCtrl.user.password">
        </md-input-container>
        <md-input-container class="md-block" flex>
          <input type="password_confirmation" placeholder="Confirmação da Senha" ng-model="profileCtrl.user.password_confirmation">
        </md-input-container>
        <div md-input-container class="md-block" >
          <div ng-repeat="role in profileCtrl.roles">
            <md-checkbox ng-model="role.selected">{{role.title}}</md-checkbox>
          </div>
        </div>
      </form>
      <box-footer-buttons>
        <md-button class="md-primary md-raised" ng-click="profileCtrl.update()">Atualizar</md-button>
      </box-footer-buttons>
    </box>
  </div>
</content-body>
