<content-body>
  <div flex>
    <md-button-floating theme="md-accent" icon="add" title="Adicionar"  on-click="{{usersCtrl.teste()}}">
    </md-button-floating>
    <box title="Lista">
      <md-table-container>
        <table md-table>
          <thead md-head>
            <tr md-row>
              <th md-column>Nome</th>
              <th md-column>Email</th>
              <th md-column>Perfis</th>
              <th md-column>Ações</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row ng-repeat="user in usersCtrl.users">
              <td md-cell>{{user.name}}</td>
              <td md-cell>{{user.email}}</td>
              <td md-cell>{{user.roles | rolesStr}}</td>
              <td md-cell>
                <md-button class="md-icon-button" ng-click="usersCtrl.edit(user)">
                  <md-icon md-font-set="material-icons"
                    class="md-dark">create</md-icon>
                  <md-tooltip md-direction="bottom">Editar</md-tooltip>
                </md-button>
                <md-button class="md-icon-button" ng-click="usersCtrl.remove(user)">
                  <md-icon md-font-set="material-icons"
                    class="md-warn">delete</md-icon>
                  <md-tooltip md-direction="bottom">Apagar</md-tooltip>
                </md-button>
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>

      <md-card-actions layout="row" layout-align="end center">
        <pr-pagination paginator="usersCtrl.paginator"></pr-pagination>
      </md-card-actions>
    </box>
  </div>
</content-body>
