<box box-title="Formulário de Cadastro">
  <box-toolbar-buttons>
    <md-button class="md-icon-button" ng-click="usersCtrl.goTo('list')">
      <md-icon md-font-set="material-icons" class="md-warn">list</md-icon>
      <md-tooltip md-direction="bottom">Lista</md-tooltip>
    </md-button>
  </box-toolbar-buttons>
  <form>
    <md-input-container class="md-block" flex>
      <input type="text" placeholder="Nome" ng-model="usersCtrl.user.name">
    </md-input-container>
    <md-input-container class="md-block" flex>
      <input type="email" placeholder="Email" ng-model="usersCtrl.user.email">
    </md-input-container>
    <div md-input-container class="md-block" >
      <div ng-repeat="role in usersCtrl.roles">
        <md-checkbox ng-model="role.selected">{{role.title}}</md-checkbox>
      </div>
    </div>
  </form>
  <box-footer-buttons>
    <md-button class="md-primary md-raised" ng-click="usersCtrl.save()">Salvar</md-button>
    <md-button class="md-raised" ng-click="usersCtrl.cleanForm()">Limpar</md-button>
  </box-footer-buttons>
</box>

