<md-dialog flex=50 aria-label="Usuários" class="md-dialog-transparent">
  <content-body flex>
    <box box-title="Lista de Usuários" flex>
      <md-table-container>
        <table md-table class="condensed">
          <thead md-head>
            <tr md-row>
              <th md-column>Nome</th>
              <th md-column>Email</th>
              <th md-column></th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row ng-repeat="user in ctrl.resources">
              <td md-cell>{{ ::user.name}}</td>
              <td md-cell>{{ ::user.email}}</td>
              <td md-cell>
                <md-button class="md-icon-button" ng-click="ctrl.transferUser(user)">
                  <md-icon md-font-set="material-icons" class="md-dark">create</md-icon>
                  <md-tooltip md-direction="top">Transferir</md-tooltip>
                </md-button>
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>

      <box-footer-buttons>
        <pr-pagination paginator="ctrl.paginator"></pr-pagination>
      </box-footer-buttons>
    </box>
  </content-body>
</md-dialog>
