<form ng-submit="usersCtrl.save()">
  <box box-title="{{::'form.titleRegister' | translate}}">
    <box-toolbar-buttons>
      <md-button class="md-icon-button" ng-click="usersCtrl.goTo('list')">
        <md-icon md-font-set="material-icons">view_list</md-icon>
        <md-tooltip md-direction="bottom">{{::'list' | translate}}</md-tooltip>
      </md-button>
    </box-toolbar-buttons>  
    <md-input-container class="md-block" flex>
      <label>{{::'user.form.name' | translate}}</label>
      <input type="text" ng-model="usersCtrl.resource.name">
    </md-input-container>
    <md-input-container class="md-block" flex>
      <label>{{::'user.form.email' | translate}}</label>
      <input type="email" ng-model="usersCtrl.resource.email">
    </md-input-container>
    <div md-input-container class="md-block" >
      <div ng-repeat="role in usersCtrl.roles">
        <md-checkbox ng-model="role.selected">{{role.title}}</md-checkbox>
      </div>
    </div>
    <box-footer-buttons layout-align="end center">
      <md-button type="submit" class="md-primary md-raised">{{::'form.save' | translate}}</md-button>
      <md-button class="md-raised" ng-click="usersCtrl.cleanForm()">{{::'form.clear' | translate}}</md-button>
    </box-footer-buttons>        
  </box>
</form>  

